<h1>サインアップ</h1>

<%= form_for(@user) do |f| %>
<%= render :partial => "shared/error_messages",:locals => { :object => @user} %>

	<%= f.label :name %>
	<%= f.text_field :name,class:'form-control' %>

	<%= f.label :email %>
	<%= f.email_field :email,class:'form-control' %>

	<%= f.label :password %>
	<%= f.password_field :password,class:'form-control' %>

	<%= f.label :password, "Confirmation" %>
	<%= f.password_field :password,class:'form-control'  %>

	<%= f.submit "アカウント作成",class:"btn btn-primary" %>
<% end %>